<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Vue.js!</title>
    <style>
        #list { width: 400px; border: 1px solid black; border-collapse: collapse;}
        #list td, #list th { border: 1px solid black; text-align: center;}
        #list > thead > tr { color: yellow; background-color: purple;}
    </style>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<div id="example">
    <table id="list">
        <thead>
        <tr>
            </th><th>번호</th><th>이름</th><th>전화번호</th><th>주소</th>
        </tr>
        </thead>
        <tbody>
        <!-- v-for 디렉트브와 앞에서 다루었던 v-if 디렉티브는 함께 사용할 수 있습니다. -->
        <!-- 주의할 점은 적용 순서인데, v-for 디렉티브가 먼저 수행되고 v-if 디렉티브가 적용됩니다. -->
        <tr v-for="(contact, index) in contacts" v-if="contact.address.indexOf('서울') > -1">
            <td>{{index+1}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.tel}}</td>
            <td>{{contact.address}}</td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    // Model
    var model = {
        "pageNo": 1,
        "pageSize": 10,
        "totalCount": 100,
        "contacts": [
            {"name": "설현", "tel": "010-3456-8299", "address": "서울"},
            {"name": "혜리", "tel": "010-3456-8298", "address": "서울"},
            {"name": "하니", "tel": "010-3456-8297", "address": "경기"},
            {"name": "성소", "tel": "010-3456-8296", "address": "제주"},
            {"name": "지아", "tel": "010-3456-8295", "address": "서울"},
            {"name": "정연", "tel": "010-3456-8294", "address": "강원"},
            {"name": "쯔위", "tel": "010-3456-8293", "address": "경기"},
            {"name": "사나", "tel": "010-3456-8292", "address": "충남"},
            {"name": "모모", "tel": "010-3456-8291", "address": "서울"},
            {"name": "소진", "tel": "010-3456-8290", "address": "제주"}
        ]
    }

    // View Model
    var list = new Vue({
        el: '#example',
        data: model
    })
</script>
</body>
</html>